@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  text-align: center;
}

.InputHeader {
  display: block;
}

.InputHeader >.Labels {
  margin-right: 150px;
}

.InputHeader >.Labels >p {
  margin: 25px;
}

.inputs {
  display: flex;
  justify-content: center;
}
.inputs >input {
  width: 140px;
  height: 25px;
  margin: 15px;
}
.inputs >button {
  margin: 15px;
  width: 70px;
}

.Labels {
  display: flex;
  justify-content: center;
}

.Table {
  display: block;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 500px;
}

.Table >.Labels >p {
  margin: 5px 30px;
}

.table-element {
  display: flex;
  justify-content: center;
}

.table-element >div {
  justify-content: center;
  padding: 5px 65px 5px 65px;
}

.actions {
  display: flex;
  align-items: center;
}

.table-border {
  width: 35%;
  border: solid 2px black;
  border-radius: 1rem;
  margin-left: 33%;
  height: 100%;
  margin-top: 15px;
}

